@import "./reset.css";
@import "./fonts.css";
@import "./overall.css";

.body__inner-wrapp {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: floralwhite;
}
.you-win {
    background: floralwhite url(/css/img/win.png) 127% top/40% no-repeat;
    transition: all 0.5s ease;
}

.inner-wrapper {
    max-width: 500px;
    margin: 0 auto;
}

.title {
    font-size: 45px;
}

.header__inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    line-height: 45px;
}

.game-container {
    padding: 10px;
    height: 500px;
    border-radius: 10px;
    background-color: rgb(201, 223, 241);
}

.game-body {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    row-gap: 10px;
    
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    grid-row: 1 span;
    line-height: 112px;
}

.row-item {
    background-color: cornsilk;
    
}

.block {
    display: inline-block;
    font-size: 35px;
    text-align: center;
}

.score {
    margin-left: 20px;
    display: inline-block;
}

.restart-button {
    font-family: inherit;
    background-color: rgb(201, 223, 241);
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.restart-button:hover {
    background-color: #f0d937;
}

.main__inner-wrapper {
    position: relative;
}

.hard-mod-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 13px;
    right: -31px;
}

.warning {
    writing-mode: tb-rl;
    line-height: 7px;
}

.hard-mode {
    appearance: none;
    cursor: pointer;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transition: 0.1s all linear;
    margin-bottom: 5px;
    background-color: darkgray;

}
.hard-mode:checked {
    border: 3px solid floralwhite;
}

.game-over {
    text-align: center;
    font-size: 50px;
    color: darkcyan;
}

.color2{background-color:#7a7d89}

.color4{background-color:#64d0b8}

.color8{background-color:#5cbac8}

.color16{background-color:#4bb0d6}

.color32{background-color:#c67943}

.color64{background-color:#de4367}

.color128{background-color:#edcf72}

.color256{background-color:#edcc61}

.color512{background-color:#9c0}

.color1024{background-color:#2a2f2c;color:#FFF;}

.color2048{background-color:#e45418;color:#FFF;}

.color4096{background-color:#a6c;color:#FFF;}

.color8192{background-color:#93c;color:#FFF;}


.anim {
    position: relative;
    transition: all 0.13s ease-in;
}
/*----------------------------------------тут разберись--------------------------------*/
/* .color8::after,
.color16::after,
.color32::after,
.color64::after,
.color128::after,
.color256::after,
.color512::after,
.color1024::after,
.color2048::after,
.color4096::after,
.color8192::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 103%;
    width: 103%;
    transform: scale(1.1);
    transition: all;
} */ 